extends ../layout.pug

block content
    div#navbar-hap.jumbotron
        .container
            h1 Welcome to tech-dreamer
            p Find your favourite product
    .container
        .row.top
            - for (var i = 0; i < products.length; i++)
                .col-md-4.holder
                    - var url = '/product/' + products[i]._id
                    a(href=url)
                        .thumbnail
                            img(src=image[i])
                            .caption
                            h3=products[i].name
                            p=products[i].category.name
                            p &#8377; #{products[i].price}
        .page
            - for (var i = 1; i <= pages; i++)
                - var url = '/page/' + i
                a(href=url) #{i}
